/* Reset CSS */
html,body,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    border: 0;
    padding: 0;
}

.menu {}
.sub-menu {}
.title {}
.caret {}

.negrita {
    font-weight: bold;
}
.cursiva {
    font-style: italic;
}
.subrayado {
    text-decoration: underline;
}

h1.title {
    font-size: 2em;
}

.subtitle {
    font-size: 1.5em;
}

.container{
    width: 90%;
}